<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

    <form action="{% url 'users:login'%}" method="post">
        {% csrf_token %}
        <input name='email' placeholder="email..." type="email"> <br><br>
        <input name='senha' placeholder="senha..." type="password"> <br><br>
        <button type="submit">logar</button>
    </form>
    
</body>
</html>