<!DOCTYPE html>
<html>
<head>
    <title>Lista de Filmes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/listafilmes.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <a href="{% url 'filmes:inicio' %}" style="color: white; text-decoration: none;">MovieList</a>
        </div>
        
        <div class="user-info">
            <form action="{% url 'filmes:logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn">Logout</button>
            </form>            
        </div>
    </div>
    <h1>Lista de Filmes</h1>

    <h2>Filtrar Filmes</h2>
    <form method="get" action="{% url 'filmes:lista_filmes' %}">
        <label for="order">Ordenar por:</label>
        <select name="order" id="order" onchange="this.form.submit()">
            <option value="aleatorio" {% if order == 'aleatorio' %}selected{% endif %}>Aleatório</option>
            <option value="ano" {% if order == 'ano' %}selected{% endif %}>Ano de Lançamento (Mais Antigo)</option>
            <option value="titulo" {% if order == 'titulo' %}selected{% endif %}>Título</option>
        </select>
    </form>

    <h2>Filmes Externos</h2>
    <ul>
        {% for filme_externo in filmes_externos %}
            <li>
                {{ filme_externo.Title }} ({{ filme_externo.Year }})
                <form action="{% url 'filmes:adicionar_filme_pessoal' filme_externo.imdbID %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="filme_nome" value="{{ filme_externo.Title }}">
                    <button type="submit">Adicionar à lista pessoal</button>
                </form>
            </li>
        {% empty %}
            <p>Nenhum filme encontrado externamente.</p>
        {% endfor %}
    </ul>
    
    
    <a href="{% url 'filmes:inicio' %}">Voltar</a>
</body>
</html>