<!DOCTYPE html>
<html>
<head>
    <title>Lista de Filmes</title>
</head>
<body>
    <h1>Lista de Filmes Disponíveis</h1>

    <ul>
        {% for filme in filmes %}
            <li>
                {{ filme.Title }} ({{ filme.Year }})
                <form action="{% url 'filmes:adicionar_filme_pessoal' filme.imdbID %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="filme_nome" value="{{ filme.Title }}">
                    <button type="submit">Adicionar à lista pessoal</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'filmes:inicio' %}">Voltar</a>
</body>
</html>
